<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cegep.saporiitaliano">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".SaporiItalianoApplication"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@drawable/carrot"
        android:label="SaporiItaliano"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TermsAndCondition"></activity>
        <activity android:name=".EditPersonalDetails" />
        <activity android:name=".EditAddress" />
        <activity android:name=".AdminEditItem" />
        <activity android:name=".PaymentGateway" />
        <activity android:name=".SearchJob" />
        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="SaporiItaliano"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".auth.SignInActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".auth.SignUpActivity" />
        <activity android:name=".auth.ForgetPassword" />
        <activity android:name=".main.MainActivity" />
        <activity android:name=".product.ProductDetailActivity" />
        <activity android:name=".product.ProductListActivity" />
        <activity android:name=".main.home.AddProductActivity" />
    </application>

</manifest>